@using System.Web.Mvc.Html

<div id="recursos-confirmacion-de-borrar" class="hidden">
    <form id="users-delete-confirmation-form" action="#" onsubmit="return false;">
    <fieldset>
        <h2>Delete Confirmation</h2>
        <p>
            Deleting this user will remove all of the user's assignments.
            <br />
            Are you sure you wish to delete this User?<br />
        </p>
        <div id="formButtons">
            <input id="eliminacion-del-recurso-confirmada" class="boton" name="eliminacion-del-recurso-confirmada" type="button" value="Yes" />
            <input id="users-delete-confirmation-cancel" class="boton cancelar" name="recursos-confirmacion-de-borrar-cancelar" type="button" value="Cancel" />
        </div>       
    </fieldset>
    </form>
</div>