@using System.Web.Mvc.Html
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="Turnos es un sistema que permite administrar y gestionar turnos."/>
    <title>Turnos </title>
    <script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>
    <script src="../js/compartido/EntityList.js" type="text/javascript"></script>
    <script src="../js/recursos.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/Recurso.plantilla.js"></script>
    <script type="text/javascript" src="../js/RecursoController.js"></script>                    
    <link href="../css/base.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div id="encabezado">
        <div id="negro">
            <div id="menu">
                <ul>
                    <li id="mi-cuenta" class="activo"><a href="#">Mi cuenta</a></li>
                    <li id="recursos-y-disponibilidades"><a href="#">Recursos y disponibilidades</a></li>
                    <li id="turnos-tomados"><a href="">Turnos tomados</a></li>
                    <li id="preguntas-frecuentes"><a href="">Preguntas frecuentes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="contenido">
        <div class="contenedor">
            <h1>Recursos</h1>
            <div id="dashboard" class="box clearfix">
                <div class="secundario"></div>
                <div class="primario">
                    <div id="recursos-desplazable">
                        <div id="recursos-desplazable-items">
                            <div id='recursos-pantalla1' class="slider-panel">
                                <div id="recursos-principal-crear-btn">
                                    <input id="crear-recurso" class="boton" name="Crear un nuevo recurso" value="Crear un nuevo recurso" />
                                </div>
                                <input id="recursos-busqueda" type="text" placeholder="Buscar" />
                                <div class="clear"></div>
                                <label id="recursos-por-nombre" title="Ordenar por nombre">Recuros actuales</label>
                                <div id='recursos-lista' class="contenedor-2"></div>
                                <div class="informacion">Con su actual suscripción puede agregar hasta 6 recursos más.</div>
                            </div>
                            <div id="recursos-pantalla2" class="slider-panel">
                                <div id="recursos-confirmar-boarrado" class="hidden">
                                    <h2>Confirmar elminación</h2>
                                    <p>
                                        Eliminando este recurso se removerá toda la información relativa persistida<br />
                                        Continúa con la elminación de todos modos?<br />
                                    </p>
                                    <div>
                                        <input id="eliminacion-del-recurso-confirmada" class="boton" type="button" value="Si" />
                                        <input id="users-delete-confirmation-cancel" class="boton cancelar" type="button" value="Cancelar" />
                                    </div>
                                </div>
                                <div id="recursos-contenedor">
                                    <form id="recursos-formulario" action="#" onsubmit="return false;">                                    
                                        <div class="content_user_left">
                                            <label>Nombre</label>
                                            <div>
                                                <input id="recurso-nombre" type="text" />
                                            </div>
                                        </div>
                                    <div class="content_user_left">
                                        <label>Disponibilidad</label>
                                    </div>
                                    <div class="clear">
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div>
                                        <input id="recursos-formulario-grabar" class="boton" type="button" value="Grabar recurso" />
                                        <input id="recursos-formulario-cancelar" class="boton cancelar" type="button" value="Cancelar" />
                                    </div>
                                    </form>
                                </div>                                
                            </div>
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="contenedor">
            <p class="copyright">Copyright 2012-2012<a href="" class="turnos">TURNOS</a></p>
            <ul>
                <li><a href="">Sobre Turnos</a></li>
                <li><a href="">Características</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">API</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
