@using System.Web.Mvc.Html
<script type="text/javascript" src="../js/Users.template.js"></script>
<script type="text/javascript" src="../js/UsersController.js" ></script>

<div id="recurso-desplazable">
    <div id="recurso-desplazable-aticulos">
        <div id='recurso-principal' class="panel-desplazable">
            <div id="recurso-principal-boton-crear">
                <input id="crear-recurso" class="boton" name="Create A New User" type="button" value="Create A New User" />               
            </div>
            
            <input id="recursos-busqueda" type="text" placeholder="Buscar" />
                <div class="clear"></div>
            <label id="recursos-por-nombre" title="sort by name">Recuros actuales</label>
            <div id='recursos-lista' class="contenedor">
            </div>
            <div id="users-create-users-message" class="informacion">
                Con su actual suscripción puede agregar hasta 6 users más.
            </div>  
        </div>
        <div id="recursos-pantalla2" class="panel-desplazable">
            @{
                //Html.RenderPartial("UserForm");
            //Html.RenderPartial("PasswordForm");
            Html.RenderPartial("DeleteConfirmation");
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    //resourcesList = new EntityList(@(Model.UsersJson);    
</script>
