@using System.Web.Mvc.Html
<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<%@ Import Namespace="Microsoft.Web.Mvc" %>
<div id="users-change-password" class="hidden">
    <form id="users-change-password-form" action="#" onsubmit="return false;">
    <fieldset>
        <h2>Change Password</h2>
        <p>Simply type in a new password, and confirm it by typing it again.
           <br />
        </p>
        <label for="User.Password">Password</label>
        <div>
            @(Html.Password("User.NewPassword"))
            @(Html.ValidationMessage("User.NewPassword"))
        </div>
        <label for="User.ConfirmPassword">Confirm Password</label>
        <div>
            <%= Html.Password("User.ConfirmNewPassword")%>
            <%= Html.ValidationMessage("User.ConfirmNewPassword")%>
        </div>
        <br />
        <br />
        <div id="formButtons">
            <input id="users-save-new-password" class="boton" name="users-save-new-password"
                type="button" value="Save" />
            <input id="users-change-password-cancel" class="boton cancelar" name="users-change-password-cancelar"
                type="button" value="Cancel" />
        </div>
        <% } %>
    </fieldset>
    <script type="text/javascript">
        $(function () {
            $('input[type=boton],input[type=submit],boton', $("#formButtons")).button();
        });
    </script>
    </form>
</div>
