@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="Turnos es un sistema que permite administrar y gestionar turnos.">
    <title>Turnos </title>
    <link href="../css/base.css" type="text/css" rel="stylesheet">
    <link href="http://mediacdn.disqus.com/1332464261/css/dashboard.css" type="text/css"
        rel="stylesheet">
    </head>
    <body>
        <div id="header">
        <div id="negro">
            <div id="global-nav">
                <ul id="global-actions">
                    <li id="inicio" class="active"><a href="Sueldo.aspx">Mi cuenta</a></li>
                    <li id="estadisticas"><a href="Estadisticas.aspx">Recursos</a></li>
                    <li id="preguntas-frecuentes"><a href="PreguntasFrecuentes.aspx">Preguntas frecuentes</a></li>
                </ul>
            </div>
        </div>
        </div>
        <div id="content">
            <div class="container">
                <h1>
                    Recursos</h1>
                <div id="dashboard" class="box clearfix">
                    <div class="secondary">
                    </div>
                    <div class="primary">
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="copyright">
                    Copyright 2012-2012<a href="/" class="disqus">TURNOS</a></p>
                <ul>
                    <li><a href="http://disqus.com/about/">Sobre Turnos</a></li>
                    <li><a href="http://disqus.com/features/">Características</a></li>
                    <li><a href="http://docs.disqus.com">Ayuda</a></li>
                    <li><a href="http://blog.disqus.com">Blog</a></li>
                    <li><a href="http://disqus.com/api/">API</a></li>
                    <li><a href="http://docs.disqus.com/kb/terms-and-policies/">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
